.button {
  font-family: "Inter", Arial, sans-serif;
  padding: 13px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  color: #fff;
  background-color: #0278fe;
}
