.discover {
  padding: 0;
}

.discover__image {
  margin: 64px auto 0;
  max-width: 100%;
  display: block;
}

.discover__title {
  margin: 92px 0 0 148px;
  max-width: 830px;
  text-align: left;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
}

.discover__quote {
  margin: 40px 0 0 148px;
  line-height: 34px;
  max-width: 738px;
  font-size: 1.5rem;
}

.discover__quote-text {
  margin: 0;
  text-align: left;
}

.discover__quote-author {
  margin: 10px 0 0;
  text-align: right;
  max-width: 732px;
}

.discover__text {
  margin: 32px 0 0 148px;
  text-align: left;
  max-width: 725px;
  font-size: 1rem;
  line-height: 26px;
}
@media screen and (max-width: 1127px) {
  .discover__image {
    margin: 36px auto 0;
  }

  .discover__title {
    margin: 88px auto 0;
  }

  .discover__quote {
    box-sizing: border-box;
    max-width: 830px;
    margin: 58px auto 0;
    padding-right: 45px;
  }

  .discover__text {
    max-width: 830px;
    margin: 32px auto 0;
    box-sizing: border-box;
    padding-right: 103px;
  }
}

@media screen and (max-width: 890px) {
  .discover__title {
    margin: 88px 30px 0;
  }
  .discover__quote {
    margin: 58px 30px 0;
    padding-right: 20px;
  }

  .discover__text {
    margin: 32px 30px 0;
    padding-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .discover__title {
    margin: 88px 0 0 24px;
    max-width: 707px;
  }

  .discover__quote {
    max-width: 720px;
    padding-right: 0;
    margin: 58px 24px 0;
  }

  .discover__quote-author {
    margin: -8px 0 0;
  }

  .discover__text {
    padding-right: 0;
    margin: 32px 24px 0;
  }
}

@media screen and (max-width: 620px) {
  .discover__title {
    margin: 80px 24px 0;
    font-size: 3rem;
    line-height: 1.1;
  }

  .discover__quote {
    margin: 52px 24px 0;
  }

  .discover__quote-author {
    margin: 0;
  }
}

@media screen and (max-width: 470px) {
  .discover__title {
    font-size: 2.5rem;
    margin: 72px 24px 0;
    line-height: 1.1;
  }

  .discover__quote {
    margin: 46px 24px 0;
  }

  .discover__quote-author {
    margin: 10px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .discover__image {
    margin: 40px 0 0;
  }

  .discover__title {
    margin: 64px 16px 0;
    line-height: 35px;
    max-width: 288px;
    font-size: 2rem;
  }

  .discover__quote {
    margin: 40px 16px 0;
    line-height: 30px;
    max-width: 288px;
    font-size: 1.5rem;
  }

  .discover__quote-author {
    line-height: 34px;
  }

  .discover__text {
    max-width: 288px;
    margin: 32px 16px 0;
  }
}
