.grid-card {
  padding: 118px 48px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.grid-card__item {
  max-width: 284px;
  width: 100%;
}

@media screen and (max-width: 938px) {
  .grid-card {
    padding: 100px 30px 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-card__item {
    max-width: none;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .grid-card {
    padding: 90px 24px 0;
  }
}

@media screen and (max-width: 470px) {
  .grid-card {
    padding: 90px 20px 0;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .grid-card {
    padding: 90px 16px 0;
    gap: 12px;
  }
}
