.header {
  padding: 0;
}

.header__logo {
  max-width: 254px;
  margin: auto;
  display: flex;
  padding: 32px 0 0 0;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  text-align: center;
  max-width: 793px;
  margin: 90px auto 0;
  font-size: 6rem;
  font-weight: 900;
  line-height: 6.25rem;
}

.header__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  max-width: 720px;
  margin: 32px auto 0;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .header__logo {
    max-width: 254px;
    margin: auto;
    display: flex;
    padding: 32px 0 0 0;
  }
}

@media screen and (max-width: 470px) {
  .header__logo {
    height: 56px;
    margin: 24px auto 0;
  }

  .header__title {
    font-size: 3.75rem;
    margin: 64px auto 0;
    max-width: 400px;
    line-height: 1.1;
  }

  .header__subtitle {
    line-height: 1.25;
    max-width: 420px;
    font-size: 1.25rem;
    margin: 21px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin: auto;
    padding: 34px 0 0 0;
    display: flex;
    max-width: 188.69px;
  }

  .header__title {
    max-width: 270px;
    line-height: 1.1;
    margin: 48.94px auto 0;
    font-size: 2.5rem;
  }

  .header__subtitle {
    line-height: 1.25;
    max-width: 288px;
    margin: 16px auto 0;
    font-size: 1rem;
  }
}
