.places {
  display: flex;
  flex-wrap: wrap;
  max-width: 987px;
  margin: auto;
}

.places__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: nowrap;
  grid-template-rows: auto;

  justify-content: flex-start;
  margin-top: 80px;
  column-gap: 40px;
}

.places__card-tittle {
  max-width: 460px;
  font-family: intervariable;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: start;
  margin: 0;
  margin-bottom: 48px;
}

.places__card-url {
  display: flex;
  max-width: 484px;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 48px;
}

.places__card-website {
  font-family: intervariable, sans-serif, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: 0.12em;
  text-align: start;
  margin-bottom: 8px;
  color: #aaa;
}
.places__card-name {
  font-family: intervariable, sans-serif, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: start;
  margin: 0;
}
.places__card-img {
  display: flex;
  max-width: 460px;
  height: 460px;
}
.places__card-item {
  max-width: 100%;
}
.places__card-text {
  display: flex;
  flex-direction: column;
  max-width: 484px;
  row-gap: 25px;
  grid-row-end: span 3;
}

.places__card-paragraph {
  font-family: intervariable, sans-serif, "Times New Roman", Times, serif;
  line-height: 29.34px;
  text-align: start;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

.places__card-button {
  margin-top: 48px;
  font-family: intervariable, sans-serif, "Times New Roman", Times, serif;
  line-height: 21.78px;
  text-decoration: none;
  max-width: 245px;
  padding: 13px 20px 13px 20px;
  background-color: #0278fe;
  border-radius: 4px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.places__card-button:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 850px) {
  .places {
    max-width: 733px;
    margin: auto;
  }

  .places__card {
    max-width: 720px;
  }
  .places__card-img {
    max-width: 340px;
    max-height: 340px;
  }
  .places__card-text {
    row-gap: 14px;
  }

  .places__card-paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 500px) {
  .places {
    display: flex;
    flex-direction: column;
    max-width: 320px;
  }
  .places__card {
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    display: flex;
  }
  .places__card-tittle {
    line-height: 35px;
    margin-bottom: 30px;
    width: 288px;
    font-size: 32px;
  }
  .places__card-url {
    width: 288px;
    margin-bottom: 30px;
  }

  .places__card-img {
    max-width: 320px;
    height: 320px;
    margin-bottom: 30px;
  }
  .places__card-text {
    display: flex;
    flex-direction: column;
    max-width: 288px;
  }
  .places__card-paragraph {
    font-size: 16px;
    line-height: 26.084px;
  }

  .places__card-button {
    font-size: 14px;
    line-height: 16.94px;
  }
}
